#buildboxPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;

  .productList,
  .categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 1em 0;
  }

  .categoryList {
    margin-bottom: 2em;
    font-size: 3em;
  }

  .categoryList a {
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: $linkColor;

    &:hover {
      color: $linkHover;
    }
  }

  .product {
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 5px $shadowColor;
    text-align: center;

    img {
      width: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}
