#cartPage {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .boxItem {
    max-width: 1000px;
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      width: 200px;
      margin: 20px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 0 5px $shadowColor;
      text-align: center;

      img {
        width: inherit;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
    }
  }
}
